<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         bootstrap="src/DependencyPocket.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="DependencyPocket Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
